<div class="page-content">
    <h1>{{pageTitle}}</h1>

    <div class="weather-card-table">
            <div *ngFor="let time of weatherData; index as i" class="weather-card" (click)="onDayClicked(day)">
                <div>
                    {{time.applicable_date}}
                </div>
                <div>
                    {{time.weather_state_name}}
                </div>
                <div>
                    {{time.the_temp | number:'1.0-0'}}&deg;
                </div>
            </div>
        </div>
</div>
