<div class="search-container">
    <div class="search-box">
        <input [(ngModel)]="inputValue" (keydown.enter)="searchForLocation()" placeholder="Search for a town / city">
        <div class="error-container">
            <p>
                {{errorMessage}}
            </p>
        </div>
    </div>
</div>