.search-container {
    display: flex;
    height: 100%;
}

.search-box {
    margin: auto;
}

.search-box input {
    padding: 1rem;
    font-size: 28px;
    border: 1px solid #f5f5f5;
    border-radius: 2rem;
    box-shadow: 0 0 14px 0px black;
    text-align: center;
    transition: box-shadow 0.1s ease-in-out;
}

.search-box input:focus {
    outline: none;
    box-shadow: 0 0 18px 0px teal;
}

.error-container {
    height: 0px;
    text-align: center;
}